.text_cell {
    font: italic 80px Serif;
    fill: red;
}

.rect_cell {
    width: 125px;
    height: 125px;
    fill: aqua;
    stroke: darkgray;
    stroke-width: 2;
    text-align: center;
}

.rect_field {
    x: 0px;
    y: 0px;
    width: 500px;
    height: 500px;
    fill: white;
    stroke: black;
}

.unclickable {
    pointer-events: none;
}


svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg text::selection {
    background: none;
}

#new_game_button {
    font: bold 25px sans-serif;
    color: black;
}

#results span {
    font: bold 25px sans-serif
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235,235,235);
}

.sort {
    cursor: pointer;
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

caption {
    padding: 10px;
    font: bold 20px sans-serif;
    text-align: center;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-style: none;
}

.container {
    text-align: center;
    border: 1px solid #ccc;
    border-top: none;
}